@font-face {
  font-family: 'SoopafreshRegular';
  src: url('soopafresh.eot');
  src: local('☺'), url('/painter/stylesheets/fonts/soopafresh.woff') format('woff'), 
  url('soopafresh.ttf') format('truetype'), 
  url('soopafresh.svg#webfontK84HAciG') format('svg');
  font-weight: normal;
  font-style: normal;
}
                  
