#nav.column.grid_3
  %ul
    %li
      %a.home{:href=>'/', :title=>'Home'} home
    %li
      %a.colours{:href=>'/colours', :title=>'Colours'} colours
    %li
      %a.theme-specifications{:href=>'/theme-specifications', :title=>'Theme Specifications'} technical specs
    %li
      %a.splat{:href=>'/splat', :title=>'Splat'} splat
    %li
      %a.subscribe-rss{:href=>'/articles.xml', :title=>'Subscribe RSSs'} subscribe rss
