#content.column.grid_8
  %h1 Page not found

  %p
    Sorry, we don't serve the page you just requested.
    %hr
    %blockquote.black
      &#8220;What he meant to say was whatever it is, you're doing it wrong!!!&#8221;
    %p.black{:style => "text-align:right"}
      &#8212; Anti-Painter
    %hr

= haml :nav, :layout => false
